<!DOCTYPE html>
<html>
<head lang="en">
    <!--<link href="/grid.css" rel="stylesheet" type="text/css"/>-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link href="{{ HOST }}/{{ BASE_PATH }}/style.css" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <style>
        {% block style %}
            {% block addstyle %}
            {% endblock %}
        {% endblock %}
    </style>
</head>
<body class="{% block bodyclass %}{% endblock %}">
{% block body %}
    <div class="content">
        {% block grid %}
            <div class="pure-g">
                <div class="pure-u-3-4 g1">
                    <div class="first">
                        {% block first %}{% endblock %}
                    </div>
                </div>
                <div class="pure-u-1-4 g2">
                    <div class="second">
                        {% block second %}{% endblock %}
                    </div>
                </div>
                <div class="pure-u-3-4 g3">
                    <div class="third">
                        {% block third %}{% endblock %}
                    </div>
                </div>
                <div class="pure-u-1-4 g4">
                    <div class="fourth">
                        {% block fourth %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
</body>
</html>