{% extends "base.jinja2" %}

{% block bodyclass %}register{% endblock %}

{% block first %}
    <h1>MSML PACKAGE REGISTER</h1>
{% endblock %}

{% block second %}
    <span class="key">Generated:</span> {{ date.strftime('%Y-%m-%d') }}
{% endblock %}

{% block third %}
    <table class="pure-table pure-table-horizontal pure-table-striped">
        <thead>
            <tr>
                <th>NAME</th>
                <th>VERSION</th>
                <th>maintainer</th>
                <th>external</th>
            </tr>
        </thead>
        <tbody>
        {% for package in packages %}
            <tr>
                <td><a href="{{ package|url }}">{{ package.name }}</a></td>
                <td>{{ package.version}}</td>
                <td>{{ package.information.maintainer.name }}</td>
                <td><a href="{{ package.homepage }}"><!--img width="16px" src="{{ package.provider_logo }}"/>-->link</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
