{% extends "base.jinja2" %}

{% block first %}
    <div class="line">
        {{ package.name }}@{{ package.version }}
    </div>
{% endblock %}

{% block second %}
    <span class="key">Generated:</span> {{ date.strftime('%Y-%m-%d') }}
{% endblock %}

{% block fourth %}
    <div class="info">
        <p><span class="key">Maintainer:</span>
            <a href="mailto:{{ package.information.maintainer.email}}">
            {{ package.information.maintainer.name}}</a></p>

        <p><span class="key">Name:</span> {{ package.name }}</p>

        <p><span class="key">Version:</span> {{ package.version }}</p>

        <p><span class="key">Repository:</span>
            <a href="{{ package.information.repository.url }}">
                {{ package.information.repository.url }}
                <!--<img width="16px" src="{{ package.provider_logo }}"/>--></a>
        </p>
    </div>
{% endblock %}

{% block third %}
    {{ package|html }}
    <hr>

    <p>
        <span class="key">add to repository</span><br>

    <pre>$ murmgr download_package {{ package.information.repository.url }}
            </pre>

    </p>
{% endblock %}
